header{  
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    min-height: 80px;
    background-color: #020004;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition-delay: 2s;
    .headertop{
    //style
    img#profile{
        display: block;
    }
    a h3{
        display: none;
    }
    //inside items properties
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a.button{
        display: none;
    }
    h1{
        font-family: $logo-font-family;
        color: $font-title-color;
        span{
            color: rgb(177, 0, 0);
        }
    }
    nav{
        display: block;
        ul{
            display: flex;
            flex-direction: row;
            li{
                display: block;
                padding: 10px
            }
        }
        a{
            font-size: $font-title-size;
            color: $font-title-color;
            font-family: $logo-font-family;
        }
    }        
    }
    #nav{
        display: none;
        width: 100%;
        nav{
            overflow: hidden;
            ul{
                display: flex;
                flex-direction: column;
                text-align: center;
                li{
                    display: block;
                    padding: 10px;
                    input{
                        width: 100%;
                    }
                }
            }
            a{
                font-size: $font-title-size;
                color: $font-title-color;
                font-family: $logo-font-family;
            }
        }         
    }

}
input[type=text] {
    border: transparent;
    background-color: $HEADER-color ;
    color: white;
  }