@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
$logo-font-family: 'Rubik', sans-serif;
body{
    min-height: 100%;
    background-color: black;
    margin: 0 auto;
    h1, h2, h3, h4, h5, h6, i{
        font-family: $logo-font-family;
        color: #707070;
    }
    scroll-behavior: smooth;
}
header{
    background-color: #202020 ;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left{

    }
    .center{

    }
    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        i{
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
.display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .leftpage{
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .page{
        img{
            max-width: 1000px;
        }
    }
    .rightpage{
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 700px) {
    .rightpage a i{
        display: none;
    }
}