
//COPIED FROM SCRAPPED VERSION{
    //MEDIA QUERYS PORRA

    //imports
    @font-face {
        font-family: 'coolvetica'; /*a name to be used later*/
        src: "/code/assets/fonts/coolvetica.ttf"; /*URL to font*/
    }
    @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

    //variables
    $HEADER-color: #020004; 
    $HEADER-MENU-color: #fffbfb;   
    $background-page: #303030;
    $content-color: #202020;
    //page background and body text
    body, ul, li , a{
        text-decoration: none;
        list-style-type: none;
        margin: 0;
        padding: 0;

    }
    body{
        background-color: $background-page;
        scroll-behavior: smooth;
    }
//}FINISHED COPY
//fonts
    $font-small: 10px;
    $font-title-size: 17px;
    $font-title-color: #c9c9c9;
    $logo-font-family: 'Karla', sans-serif;
    h1, h2, h3, h4, h4{
        font-family: Arial, Helvetica, sans-serif;
        color: $font-title-color;
    }
    h1{

    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        color: $font-title-color;
    }
//header
header{  
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    min-height: 80px;
    background-color: #020004;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition-delay: 2s;
    .headertop{
    //style
    img#profile{
        display: block;
    }
    a h3{
        display: none;
    }
    //inside items properties
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a.button{
        display: none;
    }
    h1{
        font-family: $logo-font-family;
        color: $font-title-color;
        span{
            color: rgb(177, 0, 0);
        }
    }
    nav{
        display: block;
        ul{
            display: flex;
            flex-direction: row;
            li{
                display: block;
                padding: 10px
            }
        }
        a{
            font-size: $font-title-size;
            color: $font-title-color;
            font-family: $logo-font-family;
        }
    }        
    }
    #nav{
        display: none;
        width: 100%;
        nav{
            overflow: hidden;
            ul{
                display: flex;
                flex-direction: column;
                text-align: center;
                li{
                    display: block;
                    padding: 10px;
                    input{
                        width: 100%;
                    }
                }
            }
            a{
                font-size: $font-title-size;
                color: $font-title-color;
                font-family: $logo-font-family;
            }
        }         
    }

}
//main PAGE contents
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;
}
section{
    width: 100%;
    max-width: 1400px;

}
.sliderMAIN{
    display: flex;
    flex-direction: row;
    align-items: center;
    a i{
        color: #c9c9c9;
        background-color: #303030;
        margin-left: 15px;
        margin-right: 15px;
    }
}
.sliderMAIN .slider-component{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
}    
.sliderMAIN::-webkit-scrollbar { 
        display: none; 
    }
.mangaBIG{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    background-color: $content-color;
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 300px;;
    max-height: 300px;
    overflow: hidden;
    img{
        max-width: 100px;

    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        h2, h3, p, div{
            margin: 5px;
        }
    }
}
//tags
.tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    a{
        background-color: darkblue;
        border-radius: 5px;
        margin-right: 3px;
        margin: 3px;
        h3{
            font-size: 13px;
        }
    }
}
//top ranked
section.double{
    display: flex;
    flex-direction: row;
}
.topranked{
    margin-right: 10px;
    flex-basis: 30%;
    ul{
        display: flex;
        flex-direction: column;
        li.mangaRANK{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: $content-color;
            margin-bottom: 10px;
            max-width: 410px;
            min-height: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            h2, img, .infoRANK{
            }
            h2{
                text-align: center;
                padding: 10px;
            }
            img{
               max-width: 60px; 
            }
            .infoRANK{
                padding: 10px;
            }
            .stars{
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: row;
            }
        }
    }
}
.personal{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .personalLIST{
        width: 100%;
        display: flex;
        flex-direction: row;
        .list{
            ul{
                display: flex;
                flex-direction: row;
                li.coverVIEW{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    margin-right: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 9vw;
                        max-width: 175px;
                        min-width: 104px;;
                    }
                    .infoHIDE{
                        text-align: center;
                    }
                }
            }            
        }

    }
}
//footer
footer{
    top: 1;
}
//categories page
.blocks-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a > h3{
        border-radius: 10px;
        padding: 15px;
        background-color: #202020;
    }
}
//user page import
@import 'user';
@import 'login';
//footer
footer{
    background-color: #202020;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    width: 100%;
    bottom: 0;
    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        i{
            margin: 25px;
            color: #c9c9c9;
        }
    }
}
//MQ
@media only screen and (max-width: 700px) {
    header .headertop a.button{
        display: block;
    }
    header .headertop nav{
        display: none;
    }
    .sliderMAIN{
        flex-direction: row;
        display: -webkit-box;
        padding: 0;
        a i{
            display: none;
        }
        .mangaBIG{
            width: 100%;
            scroll-snap-align: start;
            div{
                max-width: 100%;
            }
        }
    }
    section.double{
        flex-direction: column;
        .topranked ul{
            max-height: 500px;
            overflow: scroll;

            flex-direction: row;
            li{
                margin-right: 5px;
            scroll-snap-align: start;
            }
        }
}
}