@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@font-face {
  font-family: 'coolvetica';
  /*a name to be used later*/
  src: "/code/assets/fonts/coolvetica.ttf";
  /*URL to font*/
}

body, ul, li, a {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #c9c9c9;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #c9c9c9;
}

header {
  min-height: 80px;
  background-color: #020004;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .headertop {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headertop a.button {
  display: none;
}

header .headertop h1 {
  font-family: "Karla", sans-serif;
  color: #c9c9c9;
}

header .headertop h1 span {
  color: #b10000;
}

header .headertop nav {
  display: block;
}

header .headertop nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .headertop nav ul li {
  display: block;
  padding: 10px;
}

header .headertop nav a {
  font-size: 17px;
  color: #c9c9c9;
  font-family: "Karla", sans-serif;
}

header #nav {
  display: none;
}

header #nav nav {
  overflow: hidden;
}

header #nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header #nav nav ul li {
  display: block;
  padding: 10px;
}

header #nav nav a {
  font-size: 17px;
  color: #c9c9c9;
  font-family: "Karla", sans-serif;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section {
  width: 100%;
  max-width: 1400px;
}

.sliderMAIN {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.sliderMAIN::-webkit-scrollbar {
  display: none;
}

.mangaBIG {
  margin: 10px;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  min-width: 15vw;
}

.mangaBIG img {
  max-width: 100px;
}

.mangaBIG .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.mangaBIG .info h2, .mangaBIG .info h3, .mangaBIG .info p, .mangaBIG .info div {
  margin: 5px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags a {
  background-color: #fffbfb;
  margin-right: 3px;
  margin: 3px;
}

section.double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topranked ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topranked ul li.mangaRANK {
  background-color: #202020;
  margin-bottom: 10px;
  max-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topranked ul li.mangaRANK h2 {
  text-align: center;
  padding: 10px;
}

.topranked ul li.mangaRANK img {
  max-width: 60px;
}

.topranked ul li.mangaRANK .infoRANK {
  padding: 10px;
}

.topranked ul li.mangaRANK .stars {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 700px) {
  header .headertop a.button {
    display: block;
  }
  header .headertop nav {
    display: none;
  }
  .sliderMAIN {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
  }
  .sliderMAIN .mangaBIG {
    max-width: 100%;
    scroll-snap-align: start;
  }
  .sliderMAIN .mangaBIG div {
    max-width: 100%;
  }
  section.double {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */