.mediaViewInfo {
	--web-view-name: Artboard – 3;
	--web-view-id: Artboard___3;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard___3;
}
* {
	margin: 0;
	padding: 0;
}
#Artboard___3 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 375px;
	height: 813px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Artboard – 3;
	--web-view-id: Artboard___3;
	--web-enable-deep-linking: true;
}
.Ret_ngulo_6 {
	position: absolute;
	overflow: visible;
	width: 383px;
	height: 1174px;
	left: -4px;
	top: 64px;
}
#Componente_6___3 {
	position: absolute;
	width: 375px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ret_ngulo_5 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#Componente_4___1 {
	position: absolute;
	width: 160px;
	height: 38px;
	left: 106px;
	top: 20px;
	overflow: visible;
}
#MangaSYNC {
	position: absolute;
	left: 0px;
	top: -4px;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Coolvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,251,251,1);
}
.ic_menu_24px {
	overflow: visible;
	position: absolute;
	top: 30px;
	left: 25px;
	width: 30.753px;
	height: 20.502px;
	transform: matrix(1,0,0,1,0,0);
}
#Componente_10___1 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 305px;
	top: 16px;
	overflow: visible;
}
.Elipse_3 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
.ID69754480_354760348743739_177 {
	overflow: visible;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 40px;
	height: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Yokohama_Kadaishi_Kikou {
	position: absolute;
	left: 169px;
	top: 171px;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,251,251,1);
}
.Ret_ngulo_8 {
	position: absolute;
	overflow: visible;
	width: 437px;
	height: 708px;
	left: -20px;
	top: 105px;
}
#Componente_9___2 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 11px;
	top: 113px;
	overflow: visible;
}
.Ret_ngulo_10 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
.ic_chevron_right_24px {
	overflow: visible;
	position: absolute;
	top: 13px;
	left: 16px;
	width: 14.978px;
	height: 24.256px;
	transform: matrix(1,0,0,1,0,0);
}
.Yokohama_Kaidashi_Kikou_v01_c0 {
	position: absolute;
	overflow: visible;
	width: 375.5px;
	height: 551px;
	left: 0px;
	top: 178px;
}
#Componente_9___3 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 15px;
	top: 739px;
	overflow: visible;
}
.Ret_ngulo_10_A3_Rectangle_122 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
.ic_chevron_right_24px_A3_Path_48 {
	overflow: visible;
	position: absolute;
	top: 13px;
	left: 16px;
	width: 14.978px;
	height: 24.256px;
	transform: matrix(1,0,0,1,0,0);
}
#Componente_9___4 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 310px;
	top: 739px;
	overflow: visible;
}
.Ret_ngulo_10_A3_Rectangle_123 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
.ic_chevron_right_24px_A3_Path_49 {
	overflow: visible;
	position: absolute;
	top: 13px;
	left: 16px;
	width: 14.978px;
	height: 24.256px;
	transform: matrix(1,0,0,1,0,0);
}
.Ret_ngulo_12 {
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 40px;
	left: 112px;
	top: 739px;
}
#Page_10_29 {
	position: absolute;
	left: 149px;
	top: 751px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,251,251,1);
}